header{
    width: 100%;
    font-weight: bold;
  }
  header img{
    width: 202px;
    height: 76px;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    gap: 28px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    list-style-type: none;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  a{
    text-decoration: none;
  }
  li{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
  }