header{
    grid-area: header;
    display:flex;
    align-items:center;
  }
  header div{
    margin-left: 20%;
    margin-right: 20%;
    display:flex;
    justify-content: center;
    align-items:center;
  }
  header img{
    width: 202px;
    height: 76px;
    flex-shrink: 0;
  }
  nav{
    margin-left: 5%;
  }
  nav ul{
    display: flex;
    width: 640px;
    gap: 28px;
    align-items: center;
    padding: 1%;
    text-align:justify;
    list-style-type: none;
  }
  a{
    text-decoration: none;
  }
  ul li{
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }